html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: #2c3440;
  color: white;
  text-align: center;
  padding: 10px;
}
